body {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  padding-inline: 20px;
  background-color: white;
  border-bottom: 1px solid #8080803b;
  h3 {
    margin: 0;
  }
  .weightLabel {
    font-weight: 500;
  }
  .weightValue {
    font-weight: 500;
  }
  .addBtn {
    &:hover, &:focus, &:active {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
  .saveBtn {
    border: none;
    border-radius: 120px;
    height: 40px;
    font-weight: 500;
  }
}

.contentSection {
  width: 100%;
  .deleteBtn {
    margin-left: 20px;
  }
  .formItem {
    width: 30vw;
  }
  .subFormLabel {
    margin-top: 5px;
    margin-right: 50px;
  }
  .subFormItem {
    .formItem {
      width: 29vw;
      margin-bottom: 10px;
    }
    .subItemNumber {
      margin-bottom: 10px;
    }
    .deleteBtn {
      margin: 8px 0 0 20px;
    }
    .addMoreBtn {
      width: fit-content;
      align-self: flex-end;
      height: fit-content;
      margin-right: 30px;
      &:hover, &:focus, &:active {
        background: none;
        outline: none;
        border: none;
      }
    }
  }
}

.green {
  color: green;
}

.red {
  color: red;
}
